<div class="wrapper">
  <h2 class="bb-gray">
    <i class="fa fa-lightbulb-o" aria-hidden="true"></i> Smart Filters
  </h2>
  <div class="sliders bb-gray">
    <div class="group">
      <i class="fa fa-certificate" aria-hidden="true"></i>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="group">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
    <div class="group">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <mat-slide-toggle></mat-slide-toggle>
    </div>
  </div>
  <div class="search-box">
    <label for="searchbox">Status</label>
    <input type="text" placeholder="&#xF002; Search" value="" />
  </div>
  <button type="button" class="btn-delivered">
    DELIVERED
  </button>
</div>
