<div class="wrapper">
  <mat-form-field class="bb-gray">
    <input matInput type="text" id="filter" />
    <mat-label
      ><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Smart
      Filters</mat-label
    >
  </mat-form-field>
  <div class="group">
    <i class="i fa fa-certificate fa-3x" aria-hidden="true"></i>
  </div>
  <div class="group">
    <i class="i fa fa-calendar fa-3x" aria-hidden="true"></i>
  </div>
  <div class="group bb-gray">
    <i class="i fa fa-heart fa-3x" aria-hidden="true"></i>
  </div>
</div>
