.wrapper {
  padding-right: 30px;
  border-right: 1px solid #b0b0b0;
  mat-form-field, .group {
    width: 100%;
    padding: 12.5px 0;
  }
  .fa {
    color: #686868;
  }
  .bb-gray {
    border-bottom: 1px solid #b0b0b0;
  }
}
