.searchbox {
  display: block;
  width: 280px;
  text-align: center;
  float: right;
  font-family: Arial, FontAwesome;
  padding: 13px 0;
  border: 1px solid #b0b0b0;
  border-radius: 5px;

  &::placeholder {
    color: #c6c6c6;
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c6c6c6;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c6c6c6;
  }
}

.mb-searchbox {
  margin-bottom: 25px;
}
