<nav class="container">
  <div class="brand">
    <img src="../../assets/images/logo.png" alt="logo" />
  </div>
  <div class="nav-bar">
    <ul class="nav-links">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/messages"
          ><i class="fa fa-envelope" aria-hidden="true"></i> Messages</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/wishlist"
          ><i class="fa fa-star" aria-hidden="true"></i> Wishlist</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/settings"
          ><i class="fa fa-cog" aria-hidden="true"></i> Settings</a
        >
      </li>
      <li routerLinkActive="active">
        <a routerLink="/account"
          ><i class="fa fa-user" aria-hidden="true"></i> Account</a
        >
      </li>
    </ul>
  </div>
</nav>
