@import './assets/scss/variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~font-awesome/scss/font-awesome.scss';
@import './assets/scss/grid';

html,
body {
  height: 100%;
  margin: 0;
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}

body {
  background-color: #e6e6e6;
  font-family: Arial, Helvetica, sans-serif;
}
