@import './assets/scss/variables';
@import './assets/scss/grid';

html,
body {
  height: 100%;
  margin: 0;
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}

body {
  background-color: #e6e6e6;
}
